section.about,
section.service,
section.gallery,
section.why,
section.review,
section.contact {
  flex-direction: column;
  gap: 50px;
}

section.service {
  background: var(--bg-home);
}
section.about .subtext {
  font-size: 14px;
  font-weight: 300;
}
.about-container {
  display: flex;
  flex-direction: column;
  gap: 10vh;
}
.about-container .top {
  display: grid;
  grid-template-columns: 1fr 1.25fr;
  gap: 30px;
}
.top .right {
  height: 80%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right .img {
  width: 80% !important;
  height: 90% !important;
}
.exp {
  position: absolute;
  top: -5%;
  left: 0%;
  border-radius: 20px;
  padding: 20px;
  border: 1px solid var(--glass-border);
  backdrop-filter: blur(50px);
  box-shadow: 0 0 30px var(--bg-home);
}
.exp p:first-child {
  font-family: "Playfair Display", serif;
  font-size: 30px;
  font-weight: 500;
}
.exp p:last-child {
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.chef {
  position: absolute;
  bottom: -10%;
  right: 0%;
  height: 60%;
  width: 35%;
  overflow: hidden;
  border-radius: 30px;
  corner-shape: bevel;
  border: 1px solid var(--gold-text);
  box-shadow: 0 0 30px var(--gold-shadow);
}
.chef img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.right .img {
  overflow: hidden;
  border: 1px solid var(--glass-border);
}
.top img {
  transition: 1s ease;
}

@media (hover: hover) {
  .top .right:hover img {
    transform: scale(1.2);
  }
  .btns button:hover {
    border-color: var(--gold-text);
    color: var(--gold-text);
  }
  .btns button:hover {
    border-color: var(--gold-text);
    color: var(--gold-text);
  }

  .card-dish:hover::before,
  .card:hover::before {
    height: 40%;
    width: 40%;
  }

  .card-dish:hover h3 {
    color: var(--gold-text);
  }
}

.top .right .img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.top .left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.detail {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1.7;
  font-weight: 200;
  color: var(--text-muted);
  max-width: 700px;
  margin-top: 1vw;
}

.quick {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--card-bg);
  width: 100vw;
  padding: 3% 5%;
}
.quick > div {
  text-align: center;
  padding: 4vw;
}
.quick > div p:first-child {
  font-family: "Playfair Display", serif;
  font-size: 4vw;
  font-weight: 600;
  margin-bottom: 10px;
  text-shadow: 0 0 50px var(--gold-shadow);
}
.quick > div p:last-child {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 10px;
  font-weight: 500;
  color: var(--text-muted);
}

.head {
  text-align: center;
}
.btns {
  gap: 10px;
}
.btns button {
  border: 1px solid var(--glass-border);
  color: var(--text-muted);
  padding: 12px 20px;
  /* border-radius: 3vw; */
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
  transition: 0.5s ease;
}

.btns button.active {
  background: var(--gold-bg);
  border: 1px solid var(--gold-border);
  color: var(--text-sec);
  font-weight: 900;
}
.card-dish img {
  aspect-ratio: 16/10;
}
.menu-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.card-dish,
.card {
  border: 1px solid var(--glass-border);
  border-radius: 20px;
  transition: 0.5s ease;
  background: var(--card-bg);
  position: relative;
  overflow: hidden;
}
.card-dish::before,
.card::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  height: 0%;
  width: 0%;
  border-radius: 50%;
  filter: blur(100px);
  background: var(--gold-border);
  opacity: 0.7;
  transition: 0.5s ease;
}

.card-dish .img {
  overflow: hidden;
  position: relative;
  /* border-radius: 20px 20px 0 0; */
}
.card-dish img {
  transition: 1s ease;
}
.card-dish:hover img {
  transform: scale(1.2);
  transform-origin: top;
}
.field {
  position: absolute;
  top: 10px;
  right: 10px;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px;
  padding: 5px 12px;
  border-radius: 20px;
  backdrop-filter: blur(2px);
  border: 1px solid var(--glass-border);
}
.veg {
  background: rgba(0, 87, 0, 0.352);
}
.non-veg {
  background: rgba(212, 0, 0, 0.404);
}
.dish-detail {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
}

.dish-detail .detail,
.card .detail {
  font-size: 15px;
  letter-spacing: 0.5px;
}

.order {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.order p {
  opacity: 0.8;
}
.order a {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  /* border: 1px solid var(--glass-border); */
  color: var(--gold-text);
  background: var(--bg-icon);
  padding: 7px 12px;
  /* border-radius: 2vw; */
  transition: 0.5s ease;
}

section.gallery {
  background: var(--card-bg);
}
section.review {
  background: var(--card-bg);
}

.gallery-contain {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.image {
  flex-grow: 1;
  position: relative;
  /* border-radius: 20px; */
  overflow: hidden;
  border-radius: 15px;
  border: 1px solid var(--glass-border);
}

.image img {
  aspect-ratio: 16/9;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 1s linear;
}
.gallery-contain > div:first-child {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  gap: 15px;
}
.gallery-contain > div:first-child > div:nth-child(2) {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

.gallery-contain > div:nth-child(2) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}
.gallery-contain > div:nth-child(3) {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  gap: 15px;
}
.gallery-contain > div:nth-child(3) > div:first-child {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}
.image:hover {
  border-color: var(--gold-border);
}
.image:hover img {
  transform: scale(1.1);
}

@media (hover: hover) {
  .order a:hover {
    transform: scale(1.1);
  }

  .card:hover h3 {
    color: var(--gold-text);
  }
}

.card {
  padding: 2rem;
}
.card .top {
  /* border: 1px solid var(--glass-border); */
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-bottom: 30px;
  position: relative;
  background: var(--bg-icon);
}
.card .top svg {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 12px;
}
.rev-card {
  flex-direction: column;
  gap: 2rem;
  min-width: 400px;
  max-width: 1000px;
  text-align: center;
  padding: 4vw 7vw;
  background: var(--card-bg);
  border: 1px solid var(--glass-border);
  border-top-color: var(--gold-border);
}

@font-face {
  font-family: ital;
  src: url(../fonts/Tangerine-Regular.ttf);
}

.rev-ms {
  font-family: ital;
  font-size: 4rem;
  /* font-style: italic; */
}
.rev-name {
  flex-direction: column;
  gap: 10px;
  position: relative;
  padding: 0 1rem;
}
.rev-name p:first-child {
  text-transform: uppercase;
  font-size: 12px;
  color: var(--gold-text);
  letter-spacing: 2px;
}
.rev-name p:last-child {
  text-transform: uppercase;
  color: var(--text-muted);
  font-size: 9px;
  font-weight: 100;
  letter-spacing: 2px;
}
.rev-name::before,
.rev-name::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  height: 1px;
  width: 50px;
  background: linear-gradient(
    90deg,
    transparent,
    var(--gold-text),
    transparent
  );
}
.rev-name::before {
  left: 100%;
  translate: -0% -50%;
}
.rev-name::after {
  left: 0%;
  translate: -100% -50%;
}
.review {
  overflow: hidden;
}

.reviews {
  display: flex;
  /* max-width: 1000px; */
}
.rev-card-cont {
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rev-card {
  /* flex-shrink: 0; */
  min-width: 1000px;
}

.review {
  overflow: hidden;
}

.reviews {
  display: flex;
  transition: transform 0.5s ease;
}

.rev-card {
  flex: 0 0 calc((100% - 40px) / 3);
}

@media (max-width: 900px) {
  .rev-card {
    flex: 0 0 calc((100% - 20px) / 2);
  }
}

@media (max-width: 600px) {
  .rev-card {
    flex: 0 0 100%;
  }
}

.control {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.control .center svg {
  height: 50px;
  width: 50px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--glass-border);
  background: var(--bg-icon);
  cursor: pointer;
  border-radius: 50%;
}
