@font-face {
  font-family: face;
  src: url(../fonts/Inter_18pt-Light.ttf);
}
@font-face {
  font-family: playfair;
  src: url(../fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: face;
  background: transparent;
  border: none;
  color: var(--text-pri);
  -webkit-tap-highlight-color: transparent;
  list-style-type: none;
}

a,
button {
  border-radius: 30px;
  cursor: pointer;
}

body {
  background: var(--bg);
  overflow-x: hidden;
  width: 100vw;
}
section {
  padding: 10% 7%;
}
/* html {
  scroll-behavior: smooth;
} */

.reveal {
  opacity: 0;
  transform: translateY(50px);
  transition:
    transform 0.5s ease,
    opacity 0.5s linear;
}
.reveal.active {
  opacity: 1;
  transform: translateY(0px);
}

svg {
  height: 10px;
}
.td-o {
  transition-delay: 0.2s;
}
.td-tw {
  transition-delay: 0.4s;
}
.td-th {
  transition-delay: 0.6s;
}
.td-fo {
  transition-delay: 0.8s;
}
.td-fi {
  transition-delay: 1s;
}
.td-si {
  transition-delay: 1.2s;
}

.click:active {
  filter: blur(2px);
  transform: scale(0.9);
}

:root {
  --bg: #0c0905;
  --bg-home: rgba(0, 0, 0, 0.716);

  --card-bg: radial-gradient(
    circle at 20% 10%,
    rgb(59, 31, 9),
    rgb(0, 0, 0),
    rgb(28, 15, 4)
  );
  --bg-icon: radial-gradient(circle at 50% 0%, rgb(44, 24, 8), rgb(26, 15, 6));

  --gold-bg: linear-gradient(90deg, #efc275, #b37b34);
  --gold-text: #febc4a;
  --gold-border: #9f7429df;
  --gold-shadow: #000000;

  --text-pri: rgb(206, 206, 206);
  --text-sec: rgb(27, 26, 26);
  --text-muted: rgba(221, 221, 221, 0.797);

  --glass-bg: rgba(8, 7, 7, 0.271);
  --glass-border: #8e672441;
}

body.light-theme {
  --bg: #faf7f2;
  --bg-home: rgba(244, 241, 239, 0.82);

  /* Cards */
  --card-bg: radial-gradient(
    circle at 20% 10%,
    rgb(243, 213, 192),
    rgb(255, 255, 255),
    rgb(254, 230, 210)
  );
  --bg-icon: radial-gradient(circle at 50% 0%, #fff7ea, #f3e6d0);

  /* Gold */
  --gold-bg: linear-gradient(90deg, #d8a64c, #8c5d19);
  --gold-text: #b27a23;
  --gold-border: #c89b49;
  --gold-shadow: rgba(0, 0, 0, 0.119);

  /* Text */
  --text-pri: #23201b;
  --text-sec: #ffffff;
  --text-muted: #5f5951;

  /* Glass Effect */
  --glass-bg: rgba(255, 255, 255, 0.72);
  --glass-border: rgba(184, 147, 79, 0.22);
}
h2 {
  font-family: playfair;
  font-size: 4vw;
  font-weight: 600;
  margin-bottom: 5vh;
  text-transform: capitalize;
}
h3 {
  text-transform: capitalize;
  font-family: playfair;
  font-size: 1.7vw;
  font-weight: 500;
  transition: 0.5s ease;
  display: flex;
  justify-content: space-between;
}

/* ====================================== */

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.topic {
  color: var(--gold-text);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 4px;
  font-weight: 500;
  width: fit-content;
  padding: 0 20px;
  position: relative;
  /* margin-bottom: 5vh; */
}
.topic::before,
.topic::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  height: 1px;
  width: 20%;
  background: var(--gold-bg);
}
.topic::after {
  left: 100%;
  translate: -0% -50%;
}
.topic::before {
  left: -7px;
  translate: -100% -50%;
}
.hover-shadow {
  position: relative;
  z-index: 1;
}
.hover-shadow::after {
  transition: 0.5s ease;
}
@media (hover: hover) {
  .hover-shadow:hover::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    translate: -50% -50%;
    height: 50%;
    width: 100%;
    z-index: -1;
    background: var(--gold-border);
    filter: blur(30px);
  }
}
hr {
  border-top: 1px solid red;
}

.lightbox {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.92);

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  visibility: hidden;

  transition: 0.3s ease;
  z-index: 9999;
}

.lightbox.active {
  opacity: 1;
  visibility: visible;
}

.lightbox img {
  max-width: 90%;
  max-height: 70%;
  object-fit: contain;

  transform: scale(0.8);
  transition: 0.3s ease;
}

.lightbox.active img {
  transform: scale(1);
}

.close {
  position: absolute;
  z-index: 99999;

  top: 100px;
  right: 35px;

  color: white;
  font-size: 45px;

  cursor: pointer;
  user-select: none;
}

@media (max-width: 1250px) {
  section {
    padding: 10vh 20px;
  }
  h2 {
    font-size: 5vw;
  }
  h3 {
    font-size: 25px;
  }
  .rev-card {
    max-width: 80vw;
  }
  .rev-ms {
    font-size: 5vw;
  }
}

@media (max-width: 1100px) {
  header {
    height: 100px;
    padding: 0 3vw;
  }
  header.shrunk {
    height: 70px;
    padding: 0 6vw;
  }
  section {
    padding: 15vh 6vw;
  }
  h1 {
    font-size: 8vw;
  }
  h2 {
    font-size: 6vw;
  }
  h3 {
    font-size: 28px;
  }
  .dish-detail h3 {
    font-size: 22px;
  }
  .about-container .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15vh;
  }
  .top .left {
    width: 100% !important;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .top .right {
    height: 600px;
  }
  .right .img {
    width: 90% !important;
    height: 70% !important;
  }
  .exp {
    top: 10%;
  }
  .chef {
    bottom: 0%;
    height: 50%;
    width: 30%;
  }
  .top .left p {
    width: 100%;
  }
  .top .left .links {
    margin-top: 7vh !important;
  }
  .menu-cards {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .rev-card {
    min-width: 600px !important;
  }
  .rev-ms {
    font-size: 4vw;
  }

  .reach {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .reach > p {
    text-align: center;
  }

  .reach-container {
    width: 100%;
  }
  .res-way {
    width: 100%;
  }
  section.contact .container {
    grid-template-columns: 1fr;
    gap: 10vh;
  }
  .reach-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .reach-container > div {
    flex-grow: 1;
    flex: 1;
    min-width: 360px;
  }
  .td-o {
    transition-delay: 0.1s;
  }
  .td-tw {
    transition-delay: 0.2s;
  }
  .td-th {
    transition-delay: 0.3s;
  }
  .td-fo {
    transition-delay: 0.4s;
  }
  .td-fi {
    transition-delay: 0.5s;
  }
  .td-si {
    transition-delay: 0.6s;
  }
}

@media (max-width: 820px) {
  h3 {
    font-size: 22px;
  }

  nav {
    position: absolute;
    z-index: -1;
    right: -101%;
    top: 110%;
    translate: -0% -0%;
    background: var(--card-bg);
    flex-direction: column;
    gap: 20px;
    padding: 50px;
    width: 40%;
    height: calc(100vh - 50%);
    transition: 0.5s ease !important;
    border-radius: 20px;
    filter: blur(2px);
  }
  nav a {
    padding: 10px 20px;
    font-size: 14px;
  }
  nav.shown {
    filter: blur(0px);
    right: 0;
    top: 100%;
    translate: -0% 0%;
  }
  .humberger {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 10px;
    transition: 0.5s ease;
  }
  .humberger span {
    height: 1px;
    width: 20px;
    background: var(--text-pri);
    transition: 0.5s ease;
  }
  .humberger.shown {
    background: var(--gold-border);
  }

  .humberger.shown span:nth-child(1) {
    rotate: 45deg;
    translate: 0px 7px;
  }
  .humberger.shown span:nth-child(2) {
    opacity: 0;
  }
  .humberger.shown span:nth-child(3) {
    rotate: -45deg;
    translate: 0px -7px;
  }

  .rev-card {
    max-width: 80vw;
  }
  .rev-ms {
    font-size: 5vw;
  }
}

@media (max-width: 750px) {
  section {
    padding: 15vh 15vw;
  }
  section.home {
    padding: 0 10px;
  }
  .subtext,
  .detail {
    font-size: 16px;
  }
  .order {
    border-top: 1px solid var(--glass-border);
    padding-top: 15px;
  }
  .menu-cards {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .rev-card {
    min-width: 300px !important;
  }
  section.service .btns {
    flex-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width: none;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
  }
  .btns button {
    flex-shrink: 0;
  }
  .gallery-contain,
  .gallery-contain > div:nth-child(2),
  .gallery-contain > div:first-child,
  .gallery-contain > div:first-child > div:nth-child(2),
  .gallery-contain > div:nth-child(3),
  .gallery-contain > div:nth-child(3) > div:first-child {
    gap: 10px;
  }

  form,
  .second {
    flex-direction: column;
  }
  .right .img {
    width: 90% !important;
    height: 60% !important;
  }
  .chef {
    width: 40%;
    height: 40%;
  }
  .quick {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .quick .gold {
    font-size: 8vw !important;
  }
}

@media (max-width: 620px) {
  section {
    padding: 10vh 15px;
  }
  nav {
    width: 100%;
    height: calc(100vh - 50%);
  }
  .topic {
    font-size: 10px;
    letter-spacing: 2px;
  }
  h1 {
    margin-bottom: 5vh;
  }
  h2 {
    font-size: 28px;
  }
  section.service .links {
    margin-top: 0px;
  }

  .links a {
    padding: 15px 20px;
    font-size: 10px;
  }
  .rev-card {
    min-width: 200px !important;
    width: 100% !important;
  }
  .control .center svg {
    height: 40px;
    width: 40px;
  }
  .reach-container > div {
    min-width: 100%;
  }
  .reserve {
    padding: 20px 10px;
  }
  .rev-ms {
    font-size: 7vw;
    font-weight: 100;
  }
  .rev-name p:first-child {
    font-size: 10px;
  }
}
