@font-face {
  font-family: face;
  src: url(../fonts/static/Inter_18pt-Light.ttf);
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: face;
  background: transparent;
  border: none;
  color: var(--text-pri);
}

a, button {
  border-radius: 30px;
}


body {
  background: var(--bg);
}
section {
  padding: 5% 7%;
  background: var(--bg-section);
}
html {
  scroll-behavior: smooth;
}

.reveal {
  opacity: 0;
  transform: translateY(80px);
  transition: 1s ease;
}
.reveal.active {
  opacity: 1;
  transform: translateY(0px);
}

img {
  height: 100px;
}
svg {
  height: 10px;
}

:root {
  --bg: #0c0905;
  --bg-home: rgba(0, 0, 0, 0.616);

  --bg-section: radial-gradient(
    circle at 50% 10%,
    rgb(28, 15, 4),
    rgb(0, 0, 0)
  );
  --bg-icon: radial-gradient(circle at 50% 0%, rgb(44, 24, 8), rgb(26, 15, 6));

  --card-bg: linear-gradient(rgba(17, 17, 17, 0.408), rgb(11, 7, 2));

  --gold-bg: linear-gradient(90deg, #efc275, #b37b34);
  --gold-text: #febc4a;
  --gold-border: #9f7429df;
  --gold-shadow: #7e56119d;

  --text-pri: rgb(206, 206, 206);
  --text-sec: rgb(27, 26, 26);
  --text-muted: rgba(221, 221, 221, 0.797);

  --glass-bg: rgba(8, 7, 7, 0.271);
  --glass-border: #8e672441;
}

body.light-theme {
  --bg: #ffffff;

  --bg-home: rgba(255, 255, 255, 0.92);

  --bg-section: radial-gradient(
    circle at 50% 10%,
    rgb(251, 244, 238),
    rgb(248, 243, 241, 0.718)
  );

  --bg-icon: radial-gradient(
    circle at 50% 0%,
    rgb(255, 255, 255),
    rgb(255, 255, 255)
  );

  --card-bg: linear-gradient(rgb(250, 246, 243), rgb(255, 255, 255));

  --gold-bg: linear-gradient(90deg, #efc275, #b37b34);

  --gold-text: #d68316;

  --gold-border: #d4a256;

  --gold-shadow: rgb(255, 209, 184);

  --text-pri: rgb(33, 21, 5);

  --text-sec: rgb(95, 78, 55);

  --text-muted: rgba(80, 67, 52, 0.72);

  --glass-bg: rgba(255, 255, 255, 0.58);

  --glass-border: rgba(174, 127, 45, 0.22);
}

/* ====================================== */
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.topic {
  color: var(--gold-text);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 4px;
  font-weight: 500;
  width: fit-content;
  padding: 0 20px;
  position: relative;
}
.topic::before,
.topic::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  height: 1px;
  width: 20%;
  background: var(--gold-bg);
}
.topic::after {
  left: 100%;
  translate: -0% -50%;
}
.topic::before {
  left: -7px;
  translate: -100% -50%;
}
.hover-shadow {
  position: relative;
  z-index: 1;
}
.hover-shadow::after {
  transition: 0.5s ease;
}
@media (hover: hover) {
  .hover-shadow:hover::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    translate: -50% -50%;
    height: 50%;
    width: 100%;
    z-index: -1;
    background: var(--gold-border);
    filter: blur(30px);
  }
}
hr {
  border-top: 1px solid red;
}

.catagory {
  font-size: 12px;
  letter-spacing: 2px;
  padding: 5px;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  font-weight: 300;
  margin-bottom: 10px;
  color: var(--gold-text);
  font-family: "Inter", sans-serif;
}
.catagory::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50% -50%;
  height: 1px;
  width: 30%;
  background: linear-gradient(
    90deg,
    transparent,
    var(--gold-text),
    transparent
  );
}
